/* variable */


/* reset */

* {
    box-sizing: border-box;
}

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* base styles ***************************/

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: #FFFFFF;
}


/* fonts */


/* mobiles fonts **********************************************************
 @@@@@@@@@@ PIXEL 2 @@@@@@@@@@
*/


/*@media only screen and (max-width: 480px) { */

.main-header {
    padding: 0 0.3rem 0 0.3rem;
    margin-top: 6rem;
    font-size: 2rem;
    text-align: center;
}

.header {
    background: url(images/header_image_pixel2.png) no-repeat;
    background-size: cover;
    height: 740px;
    /* Do poprawy na PX lub REM */
}

.navigation {
    padding-top: 3rem;
}

.menu {
    display: none;
}

.menu-mobile {
    height: 100vh;
    width: 100%;
    background-color: #FAFAFAFA;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0%;
    margin: auto;
}

.menu-mobile li {
    padding: 0.8rem;
}

.menu-mobile li a {
    font-size: 1.2rem;
    color: #111111;
    background: transparent;
}

.menu-mobile li a:hover {
    font-size: 1.4rem;
}

.header>h2 {
    font-size: 1.3rem;
    margin: auto;
    text-align: center;
    margin-top: 10rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: #FFFFFF;
}

.main-btn {
    display: block;
    margin: auto;
    height: 6rem;
    width: 12rem;
    border: 5px solid black;
    background-color: transparent;
    margin-top: 5rem;
    border-radius: 5%;
    font-size: 0.8rem;
    border-color: #FFFFFF;
    color: #FFFFFF;
    transition: border-width 0.3s linear;
    outline: none;
}

.main-btn:hover {
    border-width: 10px;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    font-size: 1.3rem;
}

.section-header-strong {
    font-weight: bolder;
}

.section-paragraph {
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
}


/* SECOND SECTION */

.sec-development {
    background-color: #FFFFFF;
    height: 30rem;
}

.dev-img {
    height: 130px;
    width: 130px;
}


/* THIRDSECTION STYLES */

.sec-branding {
    background-color: #FAFAFA;
    height: 30rem;
}


/* FOURTH SECTION */

h3 {
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.sec-skills {
    background-color: #FFFFFF;
    opacity: 1;
}

.sec-skills div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.skills-paragraph {
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
}

.skills-line {
    height: 1px;
    color: black;
    width: 80%;
}


/* FIFTH SECTION */

.sec-clients {
    background-color: #FAFAFA;
}

.sec-clients>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.3rem;
    text-align: center;
}

.sec-clients>div>figure>img {
    height: 8rem;
}


/* SIXTH SECTION */

.sec-team {
    background-color: #111111;
    color: #FFFFFF;
}

.sec-team>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*padding-bottom: 2rem; zrobic aby tylko dolny padding mial 2rem */
}

.sec-team>div>figure>img {
    height: 8rem;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.facebook,
.twitter,
.google-plus,
.mobile {
    height: 1.2rem;
    margin: 0.8rem;
}

.social-media {
    display: inline-block;
    padding: 0.5rem;
}


/* SEVENTH SECTION */

.sec-form {
    text-align: center;
    background-color: #7690C5;
    color: #FFFFFF;
}

.sec-form>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec-form>ul>li {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.contact-link {
    color: #FFFFFF;
}

.input-form {
    height: 3rem;
    width: 80%;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 8px 12px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 8px 12px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 8px 12px 5px 0px rgba(0, 0, 0, 0.13);
    border: 1px solid lightgray;
    border-radius: 2%;
}

.area-form {
    height: 6rem;
}

.sec-form>ul li {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.sec-form>ul li a img {
    margin: 0;
}

.form-end-line {
    height: 0.1rem;
    width: 90%;
    color: #FFFFFF;
}

.footer {
    background-color: #7690C5;
    text-align: center;
    color: #FFFFFF;
}


/* small tablets fonts */

@media only screen and (min-width: 481px) and (max-width: 800px) {
    html {
        font-size: 17px;
    }
    .input-form {
        width: 60%;
    }
}


/* laptops */

@media only screen and (min-width: 801px) {
    html {
        font-size: 18px;
    }
    .input-form {
        /* width: 40%;  ZMIENIONA SZEROKOSC INPUTA*/
    }
    .menu-btn {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        margin-right: 10%;
    }
    .menu li {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .menu li a {
        color: #FFFFFF;
        transition: 0.4s linear;
    }
    .menu li a:hover {
        font-size: 1.1rem;
    }
    .section-header {
        font-size: 1.8rem;
    }
    .dev-img {
        height: 160px;
        width: 160px;
    }
    .sec-development {}
    /* zmiana wygladu formularza */
}

@media only screen and (min-width: 1001px) {
    .header {
        height: 900px;
    }
    .main-header {
        font-size: 2.6rem;
    }
    .header>h2 {
        font-size: 2.3rem;
    }
    .sec-development {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 5rem;
    }
    .sec-development>h2 {
        grid-area: 1 / 1 / 3 / 2;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10rem;
        margin-left: 15%;
        font-size: 2.5rem;
    }
    .sec-development>p {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
        margin-left: 15%;
        margin-bottom: 9rem;
    }
    .sec-development>figure {
        grid-area: 1 / 2 / 3 / 3;
        margin-left: 30%;
    }
    .dev-img {
        height: 220px;
        width: 220px;
    }
    .sec-branding {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 5rem;
    }
    .sec-branding>h2 {
        grid-area: 1 / 2 / 3 / 2;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10rem;
        margin-right: 15%;
        font-size: 2.5rem;
    }
    .sec-branding>p {
        grid-area: 2 / 2 / 3 / 2;
        text-align: center;
        margin-right: 15%;
        margin-bottom: 9rem;
    }
    .sec-branding>figure {
        grid-area: 1 / 1 / 3 / 2;
        margin-left: 40%;
    }
    .sec-skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 4rem;
        justify-items: center;
        height: 800px;
    }
    .sec-skills div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "div1 div2" "div1 div3";
        height: 10rem;
        min-width: 460px;
        max-width: 800px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .sec-skills>div>i {
        grid-area: div1;
    }
    .sec-skills>div>h3 {
        grid-area: div2;
        margin: 0 10rem 0 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }
    .sec-skills>div>p {
        grid-area: div3;
        /*margin: 0 10rem 0 0; */
        padding: 0;
        width: 100%;
        text-align: left;
    }
    .skills-line {
        display: none;
    }
    .sec-clients {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 0.4fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "header2 header2 header2 header2" "header3 header3 header3 header3" "jamie jamie bart bart";
        justify-items: center;
    }
    .sec-clients>h2 {
        font-size: 2.5rem;
        grid-area: header2;
    }
    .sec-clients>h3 {
        font-size: 1.8rem;
        grid-area: header3;
        padding-bottom: 5rem;
    }
    .sec-clients div figure img {
        width: 200px;
        height: 200px;
    }
    .container-jamie {
        grid-area: jamie;
        margin-bottom: 5rem;
        width: 400px;
        margin-left: 20%;
    }
    .container-bart {
        grid-area: bart;
        margin-bottom: 5rem;
        width: 400px;
        margin-right: 20%;
    }
    .sec-team {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.7fr 0.7fr 1.6fr;
        gap: 1px 1px;
        grid-template-areas: "header2 header2 header2" "header3 header3 header3" "kimberly rico uku";
        justify-items: center;
    }
    .sec-team>h2 {
        font-size: 2.5rem;
        grid-area: header2;
    }
    .sec-team>h3 {
        font-size: 1.8rem;
        grid-area: header3;
        padding-bottom: 5rem;
    }
    .sec-team div figure img {
        height: 200px;
        width: 200px;
    }
    .container-kimberly {
        grid-area: kimberly;
        margin-bottom: 5rem;
        margin-left: 30%;
    }
    .container-rico {
        grid-area: rico;
        margin-bottom: 5rem;
    }
    .container-uku {
        grid-area: uku;
        margin-bottom: 5rem;
        margin-right: 30%;
    }
    .sec-form {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        grid-template-rows: 0.5fr 0.7fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "form-header form" "form-para form" "form-list form";
        justify-items: center;
    }
    .sec-form>h2 {
        grid-area: form-header;
        font-size: 2.5rem;
        margin-left: 20%;
    }
    .sec-form>p {
        grid-area: form-para;
        margin-left: 20%;
    }
    .sec-form>ul {
        grid-area: form-list;
        display: block;
        margin-left: 20%;
    }
    .sec-form>ul li {
        text-align: left;
    }
    .sec-form>ul li a img {
        margin: 0;
        padding-right: 1rem;
    }
    .sec-form>form {
        grid-area: form;
    }
    .form-end-line {
        display: none;
    }
}