/* variable */


/* reset */

* {
    box-sizing: border-box;
}

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* base styles ***************************/

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: #FFFFFF;
}


/* fonts */


/* mobiles fonts **********************************************************
 @@@@@@@@@@ PIXEL 2 @@@@@@@@@@
*/

@media only screen and (max-width: 480px) {
    .main-header {
        padding: 0 0.3rem 0 0.3rem;
        margin-top: 6rem;
        font-size: 2rem;
        text-align: center;
    }
    .header {
        background: url(images/header_image_pixel2.png);
        height: 100vh;
        /* Do poprawy na PX lub REM */
        max-width: 480px;
    }
    .navigation {
        padding-top: 3rem;
    }
    /*.menu-button {}*/
    .menu {
        display: none;
    }
    .menu-mobile {
        height: 100%;
        width: 40%;
        background-color: #FAFAFAFA;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0%;
        margin: auto;
    }
    .menu-mobile li {
        padding: 0.8rem;
    }
    .menu-mobile li a {
        font-size: 2 rem;
        color: #111111;
    }
    .menu-mobile li a:hover {
        font-size: 2.1rem;
    }
    .header>h2 {
        font-size: 1.3rem;
        margin: auto;
        text-align: center;
        margin-top: 10rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        color: #FFFFFF;
    }
    .main-btn {
        display: block;
        margin: auto;
        height: 6rem;
        width: 12rem;
        border: 1px solid black;
        background-color: transparent;
        margin-top: 5rem;
        border-radius: 5%;
        font-size: 0.8rem;
        border-color: #FFFFFF;
        color: #FFFFFF;
    }
    .section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-header {
        font-size: 1.3rem;
    }
    .section-header-strong {
        font-weight: bolder;
    }
    .section-paragraph {
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
    }
    /* SECOND SECTION */
    .sec-development {
        background-color: #FFFFFF;
        height: 30rem;
    }
    .dev-img {
        height: 130px;
        width: 130px;
    }
    /* THIRDSECTION STYLES */
    .sec-branding {
        background-color: #FAFAFA;
        height: 30rem;
    }
}


/* FOURTH SECTION */

.sec-skills {
    background-color: #FFFFFF;
    opacity: 1;
}

.sec-skills div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.skills-paragraph {
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
}

.skills-line {
    height: 1px;
    color: black;
    width: 80%;
}


/* FIFTH SECTION */

.sec-clients {
    background-color: #FAFAFA;
}

.sec-clients>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.3rem;
    text-align: center;
}

.sec-clients>div>figure>img {
    height: 8rem;
}


/* SIXTH SECTION */

.sec-team {
    background-color: #111111;
    color: #FFFFFF;
}

.sec-team>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*padding-bottom: 2rem; zrobic aby tylko dolny padding mial 2rem */
}

.sec-team>div>figure>img {
    height: 8rem;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.facebook,
.twitter,
.google-plus,
.mobile {
    height: 1.2rem;
    margin: 0.8rem;
}

.social-media {
    display: inline-block;
    padding: 0.5rem;
}


/* SEVENTH SECTION */

.sec-form {
    text-align: center;
    background-color: #7690C5;
    color: #FFFFFF;
}

.sec-form>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec-form>ul>li {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.contact-link {
    color: #FFFFFF;
}

.input-form {
    height: 3rem;
    width: 80%;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 8px 12px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 8px 12px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 8px 12px 5px 0px rgba(0, 0, 0, 0.13);
    border: 1px solid lightgray;
    border-radius: 2%;
}

.area-form {
    height: 6rem;
}

.form-end-line {
    height: 0.1rem;
    width: 90%;
    color: #FFFFFF;
}

.footer {
    background-color: #7690C5;
    text-align: center;
    color: #FFFFFF;
}


/* small tablets fonts */